/*------------------------------------------------------------------------------
 - ESTILO GENERAL
 -----------------------------------------------------------------------------*/
h2{
    font-size: 150% !important;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA BUTTON
 -----------------------------------------------------------------------------*/
button.button{
    font-size: 90%;
}
.button-login{
    padding-top: 3px;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA INPUT y TEXTAREA
 -----------------------------------------------------------------------------*/
input[type=text],input[type=password], textarea{
    letter-spacing: 0;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA LISTAS
 -----------------------------------------------------------------------------*/
ul.ul-list{
    font-size: 90%;
}
    ul.ul-list li span{
        padding-left: 8px;
    }

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL SEARCH
 -----------------------------------------------------------------------------*/
.search .row1 .button{
    margin-top: -10px;
}
