/*------------------------------------------------------------------------------
 - ESTILO GENERAL
 -----------------------------------------------------------------------------*/
body {
    font: 100% Arial, Helvetica, sans-serif;
    background: url(../images/bg_texture_top.jpg) top left repeat-x #FAF5E1;
    /*color: #000000;*/
    color:#684C1D;
}

.float-left{float:left !important;}
.float-right{float:right !important;}
.padding-null{padding:0 !important;}
.margin-null{margin:0 !important;}
.tag-center{margin: 0 auto !important;}
.text-center{text-align: center !important;}
.prepend-top-small{margin-top:10px !important;}
.append-right-small2{margin-right: 5px !important;}
.append-bottom-small{margin-bottom: 15px !important;}
.border{border:1px solid red !important;}

h1{
    color: #744818;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 115%;
    font-weight: bold;
}
h2{
    color:#FC7F07;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 110% !important;
    margin-bottom: 5px;
}
.min-height-1{min-height: 30px !important;}
.min-height-2{min-height: 200px !important;}

strong{color:#FC7F07;}

.text-small{font-size: 80%;}
.text-medium{font-size: 90%;}
.text-large{font-size: 100%;}

.notice{
    width: 600px;
    margin-top: 30px;
}

.column-photo{
    float:right;
    width: 480px;
    margin-bottom: 5px;
    /*border:1px solid red;*/
}
.column-label{
    float:left;
    width: 80px;
    padding:5px;
    background-color: #FDFDF5;
}
.column-data{
    float:left;
    width: 280px;
    padding:5px;
    background-color: #FAF8E9;
    color:#000;
    font-size: 80%;
    /*border:1px #FAD4A3 solid;*/
}

.img-captcha{
    border:1px solid #000 !important;
    margin-right: 18px;
    margin-bottom: 5px;
}


/*------------------------------------------------------------------------------
 - ESTILOS PARA LINK
 -----------------------------------------------------------------------------*/
a{
    text-decoration: none;
    font-size:80%;
}
a.link{
    color:#684C1D;
    font-weight:bold;
    font-size: inherit !important;
}
    a.link:hover{
        text-decoration: underline;
    }
a.link1{
    color:#684C1D;
    font-weight:bold;
}
a.link2{
    color:#684C1D;
    font-size: 75%;
}
    a.link2:hover{
        text-decoration: underline;
    }
a.link3{
    color:#FC7F07;
    font-weight:bold;
    font-size: 90% !important;
}
a.link4,
a.link4:link{
    color:#FC7F07;
    font-weight:bold;
    font-size: inherit;
}
    a.link4:visited{
        /*color:blue;*/
    }

a.link-header{
    color:#684C1D;
    font-weight:bold;
    margin-top:7px;
    position:relative;
    float:left;
}
    a.link-header .icon{
        float:left;
        margin:-2px 3px 0 5px;
    }

a.link-title{
    color:#FC7F07;
    font-weight:bold;
    font-size: 90% !important;
}
    a.link-title:hover{
        text-decoration: underline;
    }

a.link-signin{
    position:relative;
    float:left;
    display:block;
    background:url(../images/btn_login.png) no-repeat;
    width:60px;
    height:20px;
    padding:8px 0 0 20px;
    margin: -4px 0 0 -8px;
    font-weight: bold;
    font-size: 70%;
    color:#000;
}

a.link-attachments{
    font-size: 80%;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    color:#684C1D;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA LABEL
 -----------------------------------------------------------------------------*/
label.label-login{
   font-size: 70%;
}
label.label-search{
    float:left;
    font-size: 90%;
    font-style: italic;
    margin-top:3px;
}
label.label-black{
    font-size: 90%;
    color: #000;
}
label.label-contact{
    font-size: 70%;
    color: #80694D;
}
label.label-form{
    font-size: 80%;
    color: #6C491E;
}
label.label-user{
    font-size: 75%;
    color: #FF7D00;
}
label.label-legend{
    font-size: 70%;
    font-style:italic;
    color:#666D7D;
}
label.label-large{
    font-size: 95%;
    font-weight: bold;
    color: #6C491E;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA INPUT y TEXTAREA
 -----------------------------------------------------------------------------*/
input[type=text],input[type=password], textarea{
    border:1px #FAD4A3 solid;
    background-color:#FAF8E9;
    /*padding:0 0 2px 5px;*/
    padding:3px;
    text-align:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:80%;
    margin-top:0 !important;
    letter-spacing: 1px;
}

input.input-login{
    border:1px #F2A858 solid;
    background-color:#FAE397;
    width:150px;
    height:15px;
}
input.input-contact{
    width: 200px;
    border:1px solid #ccc;
    background-color:#FAF8E9;
}
input.input-form{
    width: 220px;
}
input.input-pss{
    width: 167px;
}
input.input-phonearea{
    width: 45px;
    margin-right: 5px;
    text-align: center;
}
input.input-phone{
    width: 162px;
}
input.input-captcha{
    float:right;
    width: 180px;
    font-size: 120%;
    text-align: center;
    letter-spacing: 5px;
    margin-right: 34px;
}
input.input-saldo{
    font-size: 90%;
    color:red;
    width: 120px;
    text-align: center;
}
input.input-small{width: 100px;}
input.input-medium{width: 180px;}

textarea.textarea-contact{
    border:1px solid #ccc;
    background-color:#FAF8E9;
    width: 200px;
    height: 115px;
}
textarea.textarea-contact2{
    width: 515px;
    height: 180px;
}
textarea.textarea-form{
    width: 220px;
    height: 100px;
}
textarea.textarea-form-large{
    width: 430px;
    height: 130px;
}
textarea.textarea-large{
    width: 600px;
    height: 150px;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA BUTTON
 -----------------------------------------------------------------------------*/
button{
    font-family:Arial, Helvetica, sans-serif;
    border:none;
    font-size: 80%;
    font-weight:bold;
    text-align:center;
}
button.button-small{
    width:76px;
    height:25px;
    background:url(../images/btn_small.png) no-repeat center left;
    color:#6C491D;
    cursor: pointer;
    margin-top:-2px;
    
}
    button.button-small:hover{
        background:url(../images/btn_small_over.png) no-repeat center left;
    }
button.button-large{
    width:121px;
    height:27px;
    background:url(../images/btn_large.png) no-repeat center left;
    color:#6C491D;
    cursor: pointer;
    padding-bottom: 4px;
}
    button.button-large:hover{
        background:url(../images/btn_large_over.png) no-repeat center left;
    }

.button-login{
    background:url(../images/btn-login-in.png) top left no-repeat;
    width:69px;
    height:30px;
    color:#684C1D;
    padding:0 0 3px 0;
}
button.button-contact{
    width:76px;
    height:25px;
    background:url(../images/btn_send.png) no-repeat center left;
    color:#101010;
    cursor: pointer;
    font-size: 70%;
}
    button.button-contact:hover{
        background:url(../images/btn_send_over.png) no-repeat center left;
    }

.button-examin{
    float:left;
    background:url(../images/btn_small.png) no-repeat center left;
    width:76px;
    height:20px;
    padding-top:6px;
    color:#6C491D;
    cursor: pointer;
    font-size: 80%;
    font-weight:bold;
    text-align:center;
    overflow: hidden;
}
    .button-examin:hover{
        background:url(../images/btn_small_over.png) no-repeat center left;
    }

/*------------------------------------------------------------------------------
 - ESTILOS PARA SELECT
 -----------------------------------------------------------------------------*/
select{
    margin-bottom: 0;
    margin-top: 2px;
    background-color: #FAF8E9;
}
select.select-search{
    width:160px;
}
select.select-form{
    width:228px;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA TEXTOS
 -----------------------------------------------------------------------------*/
.text-destacado{
    color:#F64923;
    font-size: 120%;
    text-align: center;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA FIELDSET
 -----------------------------------------------------------------------------*/
fieldset{
    padding: 10px;
    font-size: 90%;
    border:1px #E7B969 solid;
}
fieldset legend{
    font-size: 90%;
}
fieldset.fieldset-information{
    float:left;
    width: 270px;
    margin-right: 20px;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL HEADER
 -----------------------------------------------------------------------------*/
.header-col-left{
    float:left;
    background: url(../images/header_left.png) no-repeat top left;
    width:242px;
    height:181px;
    margin-left: 4px;
    z-index:1;
}
    .header-col-left a.logo{
        display: block;
        position: relative;
        margin:45px 0 0 15px;
    }
.header-col-right{
    float:left;
    background: url(../images/header_right.png) no-repeat top left;
    width:730px;
    height:181px;
    z-index:1;
}
.header-top{
    float:right;
    width: 580px;
    margin-top:19px;/*22*/
}
.header-publique{
    position:relative;
    float:right;
    margin-right: 15px;
    margin-top: 0px;/*18*/
}
.banner-horizontal{
    float:left;
    width: 468px;
    height: 60px;
    margin-top:5px;/*25*/
}


/*------------------------------------------------------------------------------
 - ESTILOS PARA EL LOGIN
 -----------------------------------------------------------------------------*/
.form-login{
    position: relative;
    background: url(../images/bg_login.png) no-repeat;
    width:188px;
    height:210px;
    /*height:192px;*/
    margin: -4px 0 0 -110px;
    display:none;
    overflow:hidden;
    z-index: 200;
}
    .form-login .btn-login{
        float:right;
        color:#000;
        margin:8px 28px 0 0;
        font-weight: bold;
        font-size: 70%;
    }
    .form-login .form{
        float:left;
        margin:8px 0 0 15px;
    }
    #login-error{
        float:left;
        clear:both;
        margin-top:4px;
        padding:0 10px 0 15px;
        color:red;
        font-size: 70%;
    }

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL SEARCH
 -----------------------------------------------------------------------------*/
.search{
    float:left;
    background: url(../images/bg_search.png) no-repeat top left;
    width:372px;
    height:118px;/*139*/
    margin:-1px 0 -7px 8px;/*top 8px*/
    padding-left: 8px;
    padding-top:0px;
    padding-bottom:0px;
    z-index:0;
}
    .search .row1{
        margin:18px 0 0 15px;
    }
    .search .row2{
        margin:12px 0 0 15px;
    }
    .search .cont-input{        
        position: relative;
        float:left;
        width: 175px;
        height: 20px;
        border:1px #FAD4A3 solid;
        background-color:#FAF8E9;
    }
        .search .cont-input .i1{ /*INPUT*/
            float: left;
            border:none;
            background-color: transparent;
            width:145px;
        }

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL MENU  (HEADER FRONT-PAGE)
 -----------------------------------------------------------------------------*/
.menu-container{
    float: left;
    width:590px;
    /*border:1px solid red;*/
}
.menu-container2{
    float: left;
    margin-left: 15px;
    width:950px;
    /*border:1px solid red;*/
}
ul.menu{
    list-style-type: none;
    margin:0;
    padding:0;
    float: left;
    width: 100%;
    height: inherit;
    z-index: 0;
    /*border: 1px solid green;*/
}
    ul.menu li{
        display: inline;
        float: left;
        width: 145px;
        height: 38px;
        margin-right: 1.5px;
        /*border:1px solid blue;*/
    }
        ul.menu li a.menu-option{
            background: url(../images/menu_option.png) no-repeat top left;
            display:block;
            width: 156px;
            height: 38px;
            margin:-5px 0 0 -10px;
            padding-top: 12px;
            text-align: center;
            font-size: 90%;
            font-weight:bold;
            color:#5F4E37;
        }

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL CONTAINER CENTRAL
 -----------------------------------------------------------------------------*/
.main-container{
    margin-top: 3px;
    padding-left: 5px;
}
    .main-container .column-left{
        float:left;
        width: 670px;
        height: inherit;
        /*border:1px solid blue;*/
    }
        .main-container .column-left .row-top{
            float:left;
            background: url(../images/form_top.png) no-repeat top left;
            width:667px;
            height: 66px;
        }
            .main-container .column-left h1.title{
                margin:20px 0 0 15px;
            }
            .main-container .column-left .container-text{
                width: 630px;
                font-size: 90%;
            }
        .main-container .column-left .row-center{
            float:left;
            clear: left;
            background: url(../images/form_center.png) repeat-y;
            width:640px;
            margin-left:3px;
            padding:10px 15px 15px 15px;
            /*border:1px solid red;*/
        }
        .main-container .column-left .row-bottom{
            float:left;
            clear: left;
            background: url(../images/form_bottom.png) no-repeat top left;
            width: 667px;
            height: 21px;
            margin-left: -2px;
        }

    .main-container .column-right{
        float:left;
        width: 300px;
        height: inherit;
        margin-left: 2px;
        /*border:1px solid blue;*/
    }
        .main-container .column-right .row-top{
            float:left;
            background: url(../images/sidebar_top.png) no-repeat top left;
            width:298px;
            height: 15px;
        }
        .main-container .column-right .row-center{
            float:left;
            clear: left;
            background: url(../images/sidebar_center.png) repeat-y;
            width:298px;
            min-height: 200px;
            margin-left:2px;
        }
            .main-container .column-right .row-center .publicity{
                float:left;
                width:260px;
                height: inherit;
                margin:0 0 15px 16px;
                /*border:1px solid red;*/
            }
        .main-container .column-right .row-bottom{
            float:left;
            clear: left;
            background: url(../images/sidebar_bottom.png) no-repeat top left;
            width: 298px;
            height: 15px;
        }

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL FOOTER
 -----------------------------------------------------------------------------*/
.footer{
    font-size: 75%;
    font-weight: bold;
    color: #666666;
    margin-top: 10px;
    margin-bottom: 10px;
}
    .footer .column-left{
        float: left;
        margin-left: 18px;
    }
    .footer .column-right{
        float: right;
    }

/*------------------------------------------------------------------------------
 - ESTILOS PARA LA PAGINA 404
 -----------------------------------------------------------------------------*/
.err404-container{
    background: url(../images/bg_404.png) no-repeat top left;
    width: 725px;
    height: 240px;
    padding-top:40px;
    margin:0 auto;
    text-align: center;
}
.err404-footer{
    width: 700px;
    margin:0 auto;
    font-size: 80%;
}


/*------------------------------------------------------------------------------
 - ESTILOS PARA LIST PROP (FRONT-PAGE)
 -----------------------------------------------------------------------------*/
.prop-row{
    float:left;
    width: 630px;
    height: inherit;
    margin-bottom: 20px;
    font-size: 80%;
    /*color:#000;*/
    /*border:1px solid green;*/
}
    .prop-row .column-1{
        float:left;
        width: 125px;
    }
    .prop-row .column-2{
        float:left;
        width: 420px;
        /*border:1px solid red;*/
    }
        .prop-row .column-2 p{
            margin-bottom: 5px;
            height:48px;
            overflow:hidden;
        }

/*------------------------------------------------------------------------------
 - ESTILOS PARA LISTAS
 -----------------------------------------------------------------------------*/
ul{
    list-style-type: none;
    display: list-item;
    margin:0;
    padding: 0;
}
ul.ul-list{
    float: left;
    color:#333333;
    font-size: 80%;
    width: 630px;
    height: auto;
}
    ul.ul-list li{
        float:left;
        width: 200px;
        list-style-image:url(../images/point.png);
        list-style-position:inside;
        background-color:#FCF5D8;
        margin-bottom:5px;
        margin-right: 5px;
    }
.ul-list-separator{
    border-left:solid 1px #999999;
    padding-left: 5px;
}

ul.ul-list-cuentaplus{
    color:#FE8405;
    font-size: 80%;
    margin-left: 160px;
}
    ul.ul-list-cuentaplus li{
        list-style-image:url(../images/icon_tips.png);
        list-style-position:inside;
        margin-bottom:5px;
    }
    ul.ul-list-cuentaplus .sintip{
        list-style-image:none !important;
        padding-left: 24px;
    }

.list-servicios{
    float: right;
    width:225px;
    height:110px;
    border: 1px solid #DBB076;
    overflow: auto;
    overflow-x: hidden !important;
    font-size: 80%;
    position: relative;
}
    .list-servicios ul{
        width:100%;
        background-color: #FAF8E9;
    }
        /*.list-servicios input[checkbox]{margin:0;padding:0;}*/
        .list-servicios ul li{
            width: 100%;
            padding: 1px 0 3px 0;
            background-color: #F4C990;
        }
        .list-servicios ul .row-par{
            background-color: #FAF8E9;
        }

/*------------------------------------------------------------------------------
 - ESTILOS PARA SECCION (MAS INFO)
 -----------------------------------------------------------------------------*/
.more-info{
    float:left;
    width: 630px;
    height: inherit;
    /*border: 1px solid green;*/
}
    .more-info .column-1{
        float:left;
        width: 365px;
        height: inherit;
        /*border: 1px solid red;*/
    }
        .more-info .column-1 .photo-gallery{
            float:left;
            position: relative;
            background: url(../images/bg_photo_gallery.png) no-repeat top left;
            width: 370px;
            height: 273px;
            margin:-7px 0 0 -7px;
        }
            .more-info .column-1 .photo-gallery .content-photo{
                float: left;
                margin: 20px 0 0 27px;
                width: 316px;
                text-align: center;
            }
        .more-info .column-1 .thumbs{
            float: left;
            width: 338px;
            height: 90px;
            margin-left: 15px;
            /*border:1px solid blue;*/
        }
            .more-info .column-1 .thumbs .col-arrow{
                float:left;
                width: 25px;
                padding-top: 32px;
                text-align: center;
                /*border: 1px solid red;*/
            }
            .more-info .column-1 .thumbs .col-middle{
                background: url(../images/bg_texture1.png) repeat-y;
                float:left;
                position: relative;
                width: 282px;
                height: 105px;
                overflow: hidden;
                /*border:1px solid green;*/
            }
                .more-info .column-1 .thumbs .col-middle ul{
                    /*border:1px solid red;*/
                }
                .more-info .column-1 .thumbs .col-middle li{
                    display: inline;
                    float:left;
                    margin-right: 3px;
                }
        .more-info .column-1 .description{
            float:left;
            clear:both;
            width: 365px;
            margin:30px 0 0 15px;
            font-size: 80%;
        }


    .more-info .column-2{
        float:right;
        width:260px;
        height: inherit;
        /*border: 1px solid blue;*/
    }
        .more-info .column-2 .slide{
            position: relative;
            float:left;
            background: url(../images/bg_slide.png) repeat-y;
            width: 260px;
            height: inherit;
            padding: 28px 0 5px 30px;
        }
            .more-info .column-2 .slide p{width:220px;}
            .more-info .column-2 .slide .icon-mail{
                position: absolute;
                top:-13px;
                left:0;
            }
            .more-info .column-2 .slide .error,
            .more-info .column-2 .slide .success{
                font-size: 80%;
                width: 195px;
                padding:5px !important;
                display: none;
            }
            .more-info .column-2 .slide .ajaxloader-mask{
                position: absolute;
                top:0;left:0;
                width:260px;
                height: 100%;
                background-color: #fff;
                z-index: 1000;
                display: none;
            }
            .more-info .column-2 .slide .ajaxloader{
                position: absolute;
                top:120px;
                text-align: center;
                font-size: 90%;
                z-index: 1010;
                display: none;
            }

.more-info-servicios{
    float:left;
    width: 630px;
    height: inherit;
    font-size: 80%;
    margin-top: 10px;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL FORM DE CONTACTO
 -----------------------------------------------------------------------------*/
.form-contact{
    margin: 10px 0 0 70px;
}
.form-contact-message{
    margin: 64px 0 0 200px;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA MENSAJES
 -----------------------------------------------------------------------------*/
.message-attention{
    margin:0 auto;
    background:url(../images/bg_attention.png) no-repeat;
    width:400px;
    height:70px;
    padding:15px 0 0 75px;
    font-size: 70%;
    color:#FE8405;
    /*border:1px solid red;*/
}
    .message-attention .message{width:380px;}

.message-rectangle{
    background:url(../images/bg_rectangle.png) no-repeat;
    width:374px;
    height: 58px;
    color:#FE8405;
    margin: 0 auto;
    padding-top:30px;
    text-align: center;
    font-weight: bold;
    font-size:90%;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA AJAXLOADER
 -----------------------------------------------------------------------------*/
.ajaxloader1{
    position: absolute;
    background: url(../images/ajax-loader5.gif) no-repeat center;
    left:0;top:0;
    width:100%;
    height: 100%;
    z-index: 1000;
    display: none;
}
.ajaxloader2{
    float:left;
    display: none;
    margin-right: 10px;
    font-size: 80%;
    width:290px;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA TABLAS (general)
 -----------------------------------------------------------------------------*/
table.tbl-list{
    font-size: 80%;
    width: 633px;
    margin-top: 20px;
}
table.tbl-list thead{
    background: url(../images/bg_table_top.png) repeat-x top left;
}
    table.tbl-list thead tr td{
        font-weight: bold;
        padding-left: 10px;
    }
table.tbl-list tbody{
    background-color: #FAF8E9;
    font-weight: normal;
}
    table.tbl-list tbody tr td{
        padding:5px 0 5px 10px;
    }
    table.tbl-list tbody .row-par{
        background-color: #FDFDF5;
    }
    table.tbl-list tbody .row-hover:hover{
        cursor: default;
        background-color: #F1CB65;
    }
.tbl-list td.cell-1{
    width: 10px;
    border-right: 1px solid #CFD0CB;
    padding-left:5px;
}
    .tbl-list td.cell-1 input{margin:0;padding:0;}

    /*table tbody td{border-right: 1px solid red;}*/

/*------------------------------------------------------------------------------
 - ESTILOS PARA TABLAS "PROPIEDADES"  PANEL USUARIO
 -----------------------------------------------------------------------------*/
.tbl-list .tbl-propuser .cell-2{
    width: 85px;
    border-right: 1px solid #CFD0CB;
}
.tbl-list .tbl-propuser .cell-3{
    width: 340px;
    border-right: 1px solid #CFD0CB;
    vertical-align: top;
}
.tbl-list .tbl-propuser .cell-4{
    width:150px;
    vertical-align: top;
}
    .tbl-list .tbl-propuser tbody tr .cell-4{color:#FC7F07;}


/*------------------------------------------------------------------------------
 - ESTILOS PARA TABLAS "PROPIEDADES"  PANEL ADMIN
 -----------------------------------------------------------------------------*/
.tbl-list .tbl-propadmin .cell-2{
    width:180px;
    vertical-align: top;
    border-right: 1px solid #CFD0CB;
}
.tbl-list .tbl-propadmin .cell-3{
    width:100px;
    vertical-align: top;
    border-right: 1px solid #CFD0CB;
}
.tbl-list .tbl-propadmin .cell-4{
    width:120px;
    vertical-align: top;
    border-right: 1px solid #CFD0CB;
}
.tbl-list .tbl-propadmin .cell-5{
    width:auto;
    vertical-align: top;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA TABLAS "USUARIOS"
 -----------------------------------------------------------------------------*/
.tbl-list .tbl-users .cell-2{
    width: 140px;
    border-right: 1px solid #CFD0CB;
}
.tbl-list .tbl-users .cell-3{
    width: 60px;
    border-right: 1px solid #CFD0CB;
}
.tbl-list .tbl-users .cell-4{
    width: 50px;
    border-right: 1px solid #CFD0CB;
}
.tbl-list .tbl-users .cell-5{
    width: 120px;
    border-right: 1px solid #CFD0CB;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA TABLAS "ORDENES"
 -----------------------------------------------------------------------------*/
.tbl-list .tbl-orders .cell-2{
    width: 60px;
    border-right: 1px solid #CFD0CB;
}
.tbl-list .tbl-orders .cell-3{
    width: 130px;
    border-right: 1px solid #CFD0CB;
}
.tbl-list .tbl-orders .cell-4{
    width: 90px;
    border-right: 1px solid #CFD0CB;
}
.tbl-list .tbl-orders .cell-5{
    width: 90px;
    border-right: 1px solid #CFD0CB;
}
.tbl-list .tbl-orders .cell-6{width: auto;}


/*------------------------------------------------------------------------------
 - ESTILOS PARA TABLAS "LOG"
 -----------------------------------------------------------------------------*/
.tbl-list .tbl-log .cell-2{
    width: 120px;
    border-right: 1px solid #CFD0CB;
}
.tbl-list .tbl-log .cell-3{
    width: auto;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA TABLAS "BANNER"
 -----------------------------------------------------------------------------*/
.tbl-list .tbl-banner .cell-2{
    width: 200px;
    border-right: 1px solid #CFD0CB;
}
.tbl-list .tbl-banner .cell-3{
    width: 90px;
    border-right: 1px solid #CFD0CB;
}
.tbl-list .tbl-banner .cell-4{
    width: 65px;
    border-right: 1px solid #CFD0CB;
}
.tbl-list .tbl-banner .cell-5{
    width: 65px;
    border-right: 1px solid #CFD0CB;
}
.tbl-list .tbl-banner .cell-6{width: auto;}
    .tbl-list .tbl-banner .cell-6 a{margin-right: 5px;}
