/*------------------------------------------------------------------------------
 - ESTILOS PARA BUTTON
 -----------------------------------------------------------------------------*/
button.button{
    padding-top: 5px;
    font-size: 90%;
}
button.button2{
    padding-top: 4px;
    font-size: 80%;
}
.button-login{
    padding:7px 0 3px 0;
}
button.button-contact{
    padding-top: 5px;
    font-size: 80%;
}
