/************************** Header *************************/
#header .column1 .main_menu ul{
    margin-left:-3px;
    list-style-type:none;
    float:left;
}
    #header .column1 .main_menu ul li{
        display:inline;
        padding-right:1px;
    }
/************************** FIN Header *************************/


/************************** BODY (columna izuqierda) *************************/
.container_mainContent #mainContent {
    background: url(../images/background_general.png) left top repeat-y;
}
    .container_mainContent #mainContent .description_properties .image_properties {
        margin-top:3px;
    }
        .container_mainContent #mainContent .description_properties .description_text .info {
            margin-top:-30px;
        }

    .container_mainContent .services{
        width:600px;
    }
    .container_mainContent .mainContent2 {
        background: url(../images/background_general.png) left top repeat-y;
    }

    .container_mainContent #mainContent .content_right .address a{
        color:#000000;
    }
    .container_mainContent #mainContent .content_top .icons{
        margin-top:-54px;
    }
    .container_mainContent #mainContent .credit{
        background:url(../images/background_credit.png) no-repeat right top;
        padding-top:-5px;
    }
    .container_mainContent #mainContent .column_left{
        margin-top:-30px;
    }
    .container_mainContent #mainContent .column_right{
        margin-top:-30px;
    }
    .container_mainContent #mainContent .content_left input{
        margin-bottom:5px;
    }
    .container_mainContent #mainContent .content_left .style_textarea{
        overflow:auto;
    }
    .container_mainContent #mainContent .content_left .list{
        margin-top:-15px;
    }
        .container_mainContent #mainContent .content_left .list .checkbox{
                width:15px;
                height:15px;
        }
        .container_mainContent #mainContent .content_left .list ul{
            margin-left:-5px;
        }
/************************** Fin BODY (columna izuqierda) ***********************/

/*************************** Sidebar *****************************/

#sidebar1 {
    background: url(../images/background_sidebar.png) left top repeat-y;
}
    #sidebar1 .publicity_horizontal{
        width:260px;
        background-color:#FAF9F0;
        margin-top:20px;
        margin-bottom:20px;
    }
/************************** FIn Sidebar *************************/

